@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  background: hsl(185, 41%, 84%);
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

#items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  background: hsl(0, 0%, 100%);
  height: 350px;
  width: 700px;
  border-radius: 15px;
  margin: 70px 0px 70px;
  padding: 30px;
}

.firstbox {
  width: 50%;
  margin-right: 2.5%;
}

.text {
  margin-bottom: 10px;
  color: hsl(183, 100%, 15%);
  font-size: 13px;
  font-weight: 400;
}

.txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
}

.textb {
  visibility: hidden;
}

.error {
  visibility: visible;
  color: red;
}

.box {
  height: 40px;
  width: 100%;
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  border: none;
  padding: 2px 10px 2px 30px;
  text-align: right;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}

.box::placeholder {
  color: hsl(184, 14%, 56%);
}

#box {
  position: relative;
}

.error2 {
  border: 2px solid red;
}

.dollar {
  position: absolute;
  top: 12px;
  left: 15px;
}

.percent {
  margin: 15px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: auto auto;
  gap: 12.94px;
  width: 100%;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: hsl(183, 100%, 15%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.grid-item:hover {
  cursor: pointer;
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.grid-item:active {
  background: hsl(172, 95%, 76%);
  color: hsl(183, 100%, 15%);
}

.custom {
  height: 40px;
  background: hsl(189, 41%, 97%);
  border-radius: 5px;
  width: 90px;
  border: none;
  outline: none;
  text-align: right;
  padding: 10px;
  color: hsl(183, 100%, 15%);
  caret-color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 18px;
}

.custom::placeholder {
  color: hsl(183, 100%, 15%);
}

.custom:focus,
.box:focus {
  border: 2px solid hsl(172, 67%, 45%);
}

.secondbox {
  display: flex;
  flex-direction: column;
  background: hsl(183, 100%, 15%);
  padding: 25px;
  width: 50%;
  border-radius: 15px;
  margin-left: 2.5%;
}

.tip {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.reset {
  margin-top: 33%;
  height: 30px;
  width: 100%;
  text-align: center;
  background: hsl(183, 100%, 22%);
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 3px;
}

.reset:hover {
  cursor: pointer;
  background: hsl(172, 67%, 45%);
}

.reset:active {
  background: hsl(172, 95%, 76%);
}

.amount {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}

.person {
  color: hsl(184, 14%, 56%);
  font-size: 12px;
}

.metric {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
  }

  .firstbox {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 40px;
  }

  .secondbox {
    width: 100%;
    margin-left: 0%;
  }

  .reset {
    margin-top: 0%;
  }
}
